<div class="viewport">
	<a class="modal_button" data-title="<%= "#{movie.title}" %>">
		<span class="dark-background">
			<%= movie.title %>
			<%= movie.rating %>
		</span>
		<img src="<%= movie.poster %>">
	</a>
</div>



