<div class="viewport">
	<a class="load_button", href="/movies/<%= movie.id %>">
		<span class="dark-background">
			<%= movie.title %>
			<%= movie.rating %>
		</span>
		<img src="<%= movie.poster %>">
	</a>
  
</div>



