var movieList = $("#movies"),
		movies = "";


<% @result.each do |movie| %>
	movies += "<div class='viewport'><a><p><%= movie.title %></p><img src=<%= movie.poster %>></a></div> ";
<% end %>

movieList.empty().append(movies);