var movieList = $("#movies"),
		movies = "";


<% @result.each do |movie| %>
	movies += "<div class='viewport'>" +
	"<a>" +
	"<span class='dark-background'>HELLO ADAM</span>" +
	"<img src=<%= movie.poster %>></a>" +
	"</div> ";
<% end %>

$("#movies").html(movies);

$('.viewport').on('mouseenter', function(e) {
        
        $(this).children('a').children('img').animate({ height: '299', left: '0', top: '0', width: '450'}, 100);
        $(this).children('a').children('span').fadeIn(200);
    }).mouseleave(function(e) {
        $(this).children('a').children('img').animate({ height: '332', left: '-20', top: '-20', width: '500'}, 100);
        $(this).children('a').children('span').fadeOut(200);
    });
