
<div>
	<h1>Search for a movie</h1>
	<%= form_tag("/home", :method => "get") do %>
  <%= text_field_tag(:query, nil, :class => "input-xlarge searchInput") %>
  <button>Submit</button>
	<% end %>
</div>


<% @search.movies[0..5].each do |m| %>
	<%if m.poster != nil %>
	
	<%= m.cast_member_ids %>
	<% end %>
<% end %>